@import url("bootstrap/dist/css/bootstrap.min.css");

.sign_in{width: 35%;
    height:75%;
    position: relative;
    left: 30%;
    top: 6%;
    padding: 3%;
    background-color: white;}

.backgroung{width:110%;
  opacity: 0.8;
  position: fixed;
  top:0px;
  left:0;}
  
.sign_in_title{color: black;
 font-size: 3rem;
 font-family: "Lucida Console";
 width: 100%;
 text-align: center;
 padding: 1%;
 position: relative;}
 
.textbox{width: 90%;
    border: solid;
    margin: 3%;
    border-color: black;
    position: relative;}
    
.sign_in_input{width: 90%;
    height:5%;
    margin-left:2%;
    border: none;
    font-size:1rem;}
    
.note{color: black;
 font-size: 0.7rem;
 font-family: "Lucida Console";
 width: 100%;
 text-align: left;
 padding: 2%;}
    
.checkbox{margin: 5% 0% 7% 4%;}

.log_in{position: relative;
   left: 30%;
   width: 30%;
   margin: 3%;}
   
.log_in:hover{left: 35%;}
