
     <video autoplay muted loop class="video"><source src="media/vid/vid.mp4" type="video/mp4"></video>
     <p class="title">WELCOME TO A NEW WORLD</p>
     <a href="private/champ.component.html" class="home_textImg"><img src="media/img/champ.png" class="img_champ"></a>
     <a href="game.component.html" class="home_textImg"><img src="media/img/game.png" class="img_game"></a>
     <a href="private/esport.component.html" class="home_textImg"><img src="media/img/esport.png" class="img_esport"></a>