<nav>
  <div class="menu_up">
    <a class="menu_home" [routerLink]="['home']">Home</a>
    <a class="menu_login" [routerLink]="['login']">LogIn</a>
  </div>
</nav>

<div class="mobile_menu_up" onClick="setCurrentScrollPos()">
  <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
  <label id="closeBtn" for="menu-icon"></label>
  <nav class="nav" onClick="closeMenu()">
    <ul class="pt-5">
      <li><a [routerLink]="['home']">Home</a></li>
      <li><a [routerLink]="['login']">LogIn</a></li>
    </ul>
  </nav>
</div>