
    <p class="title2">OFFICIAL LEAGUE OF LEGENDS TEAMS</p>
	<div class="teams_div">
	    <a href="https://rogue.gg/" target="blank"><img src="teams/rogue.png" class="team"></a>
	    <a href="http://www.edgteam.cn/" target="blank"><img src="teams/edwardGaming.png" class="team"></a>
	    <a href="https://100thieves.com/" target="blank"><img src="teams/100thieves.png" class="team"></a>
		<a href="https://www.facebook.com/sdxgamer/" target="blank"><img src="teams/sdx.png" class="team"></a>
		<a href="https://linktr.ee/anoesports" target="blank"><img src="teams/afe.png" class="team"></a>
		<a href="https://esports.kabum.com.br/" target="blank"><img src="teams/kabum.png" class="team"></a>
		<a href="https://dwgkia.gg/" target="blank"><img src="teams/dwg.png" class="team"></a>
		<a href="https://twitter.com/lyongamingof?lang=en" target="blank"><img src="teams/lyon.png" class="team"></a>
		<a href="https://unicornsoflove.com/" target="blank"><img src="teams/unicorn.png" class="team"></a>
		<a href="https://www.clg.gg/" target="blank"><img src="teams/clg.png" class="team"></a>
	</div>
