.title2{color: white;
    font-size: 4rem;
    left:5%;
    right:5%;
    font-family: "Lucida Console";
    text-align: center;
    position: absolute;}

.teams_div{position: absolute; 
  top:50%; 
  padding-bottom:10%;}

.team{width: 15%;
    position: relative;
    margin: 2%;}
         
.team:hover{width: 16%;
          opacity:0.8;}

@media(max-width:1000px){	
      .title2{font-size: 2.5rem;
          top:10%;}
      
      .teams_div{left:10%;
          top:40%;}
      .team{width:40%}
  }
  